NODE_ENV="development"
NODE_PORT=3020
SECRET_KEY="YOUR_SECRET_KEY"

DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="YOUR_DB_NAME"
DB_USERNAME="YOUR_DB_USERNAME"
DB_PASSWORD="YOUR_DB_PASSWORD"
DB_DIALECT="mysql"
DB_LOGGING=0

ACCESS_CODE=""

GCLOUDENV=""
SM_ENV="dev"

INFURA_API_KEY=""

CMC_API_KEY=""
CMC_URL=""